<header>
    <div class="header">
        <div class="logo-section">
         
                <h1>Budget</h1>
       
              <i class="fa fa-rebel" aria-hidden="true"></i>
        </div>
        <div class="profile-section">
            <div class="profile-section-theme">
                <div class="dark-theme" *ngIf="dark" (click)="lightTheme()"><i class="fa fa-moon-o" aria-hidden="true"></i>
                </div>
                <div class="light-theme" *ngIf="light" (click)="darkTheme()"><i class="fa fa-sun-o" aria-hidden="true"></i>
                </div>
            </div>
            <div class="profile-section-name">
                Hey Poorani
            </div>
            <div class="profile-section-logo">
                <i class="fa fa-user-circle" aria-hidden="true"></i>
            </div>
         
        </div>
    </div>
</header>