header{
    height:10vh;
    background-color: var(--color-white);
    color:var(--color-dark);
    box-shadow: var(--box-shadow);

}
.header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding:1.2rem 2rem;
    font-size: 1rem;
    font-weight: 500;
}
.profile-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:2rem; 
}
.profile-section .profile-section-theme{
    gap:.5rem;
    display: flex;
    font-size: 1.2rem;
    transition: all 1s ease;
}
.profile-section .profile-section-theme div > i{
    padding:6px;
    border-radius: 50%;
}
.logo-section{
     align-items: center;
    display: flex;
    gap:1rem;

}
.logo-section>h1{
    font-size: 1.3rem;
}
.profile-section-logo > i , .logo-section >i{
    font-size: 1.3rem;
}
.fa-rebel{
    color:var(--color-success);
    margin-top:-7px;
    font-size: 1.6rem !important;
}
.fa-sun-o{
    background-color: var(--color-warning);
}
.fa-moon-o{
    background-color: var(--color-danger);
}
