<header>
    <div class="header">
        <div class="logo-section">
         
                <h1>Budget</h1>
       
              <i class="fa fa-rebel" aria-hidden="true"></i>
        </div>
        <div class="profile-section">
            <div class="profile-section-theme">
                theme
            </div>
            <div class="profile-section-name">
                Hey Poorani
            </div>
            <div class="profile-section-logo">
                <i class="fa fa-user-circle" aria-hidden="true"></i>
            </div>
        </div>
    </div>
</header>