<div class="table-responsive">
    <table class="table table-hover">
    <thead>
        <tr>
            <th>S.No</th>
            <th>Category Name</th>
            <th>Investment Start Date</th>
            <th>Investment End date</th>
            <th>Investment Flow Period</th>

            <th>Edit</th>
            <th>Remove</th>
        </tr>
    </thead>
       <tbody>
        <tr *ngFor="let ic of investmentCategoryArray ;let i=index;">
            <td>{{i+1}}</td>
            <td>{{ic.iname}}</td>
            <td>{{ic.istartdate}}</td>
            <td>{{ic.ienddate}}</td>
            <td>{{ic.iperiod}}</td>
            <td><a routerLink="edit/{{ic.icid}}">Edit</a></td>
            <td><a href="#">Delete</a></td>
        </tr>
       </tbody>
    </table>
</div>