
.wrapper{
    background: var(--color-white);
    border-radius: var(--border-radius-2);
    padding:1rem 2rem;
    max-height: 80vh;
    width:100%;
    overflow: scroll;
    overflow-y: scroll;
    overflow-x: hidden;
    
}
thead tr th, thead tr td, tbody tr td{
    color: var(--color-info-dark);
}
.page-item:not(:first-child) .page-link {
    margin-left: -29px !important;
}
/* tr{
    align-items: center;
}
td{
    align-items: center;
    padding-top: 5px;
    margin:0;

} */
.fa{
    cursor: pointer;
}
.fa-info-circle{
    color:var(--color-dark)
}
.fa-trash-o{
    color:var(--color-primary);
}
.dataTables_length{
    display: none;
}
