
<div class="container wrapper">
    <div class="row mt-3">
        <div class="table-responsive">
            <table datatable  [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-hover">
            <thead>
                <tr>
                    <th>S.No</th>
                    <th>Date</th>
                    <th>Total Expense</th>
                    <th>Remarks</th>
                    <th>Edit</th>
                    <th>Remove</th>
                </tr>
            </thead>
               <tbody>
                <tr *ngFor="let investment of investmentArray ;let i=index;" class=" justify-content-center align-content-center">
                    <td>{{i+1}}</td>
                    <td>{{investment.idate}}</td>
                    <td>{{investment.iamount}}</td>
                    <td>{{investment.iremarks}}</td>
                    <td><a routerLink="edit/{{investment.iid}}" class=""><i class=" fa fa-info-circle"></i></a></td>
                    <td><a (click)="removeInvestment(investment.iid)" ><i class="fa fa-trash-o"></i></a></td>
                </tr>
               </tbody>
            </table>
        </div>
        <div class="container d-flex justify-content-end investment-btn">
            <!-- Button trigger modal -->
<div class="containe0r pull-right">
    <button type="button" (click)="addInvestment()" class="btn btn-primary btn-sm" data-toggle="modal"
        data-target="#exampleModal">
        <i class="fa fa-plus"></i> 
    </button>
</div>

<!-- Modal -->
<div class="modal " id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-secondary" id="exampleModalLabel">Add Investment</h5>
                <button type="button" class="close btn-close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">

                <form action="" [formGroup]="investmentForm">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-6 col-xs-12 mt-3 p-1">
                                <input type="text" class="form-control" formControlName="icid"
                                    placeholder="category" />
                            </div>
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-6 col-xs-12 mt-3 p-1">
                                <input type="text" class="form-control" formControlName="uid"
                                    placeholder="user id" />
                            </div>
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-6 col-xs-12 mt-3 p-1">
                                <input type="date" class="form-control" formControlName="idate"
                                    placeholder="Enter full Name" />
                            </div>

                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-6 col-xs-12 mt-3 p-1">
                                <input type="text" class="form-control" formControlName="iamount"
                                    placeholder="Enter mail id" />
                            </div>
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-6 col-xs-12 mt-3 p-1">
                                <input type="text" class="form-control" placeholder="Enter contact number"
                                    formControlName="iremarks" />
                            </div>  
                            <div class="text-success d-flex justify-content-center">{{successMsg}} </div>                  
                        </div>
                    </div>
                
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-sm"  data-dismiss="modal"  routerLink="investment/" >Close</button>
                <button type="button" class="btn btn-primary btn-sm" (click)="addInvestment()">Submit</button>
            </div>
        </div>
    </div>
</div>
            
        </div>
    </div>
</div>