<aside>
    <div class="aside-menu-list">
        <div class="menu-list">
            <div class="menu-list-icon">
                <i class="fa fa-pie-chart" aria-hidden="true"></i>
            </div>
            <div class="menu-list-heading" routerLink="">
                Dashboard
            </div>
        </div>
        <div class="menu-list">
            <div class="menu-list-icon">
                <i class="fa fa-pie-chart" aria-hidden="true"></i>
            </div>
            <div class="menu-list-heading" routerLink="expense">
                Expense
            </div>
        </div>
        <div class="menu-list">
            <div class="menu-list-icon">
                <i class="fa fa-user"></i>
            </div>
            <div class="menu-list-heading" routerLink="investment">
                Investment
            </div>
        </div>
        <div class="menu-list">
            <div class="menu-list-icon">
                <i class="fa fa-user"></i>
            </div>
            <div class="menu-list-heading" routerLink="investment_category">
                Investment Category
            </div>
        </div>
        <div class="menu-list">
            <div class="menu-list-icon">
                <i class="fa fa-user"></i>
            </div>
            <div class="menu-list-heading" routerLink="salary">
                Salary
            </div>
        </div>
        <div class="menu-list">
            <div class="menu-list-icon">
                <i class="fa fa-user"></i>
            </div>
            <div class="menu-list-heading" routerLink="passive">
                Passive
            </div>
        </div>
        <div class="menu-list">
            <div class="menu-list-icon">
                <i class="fa fa-user"></i>
            </div>
            <div class="menu-list-heading" routerLink="profile">
                User Profile
            </div>
        </div>
        <div class="menu-list">
            <div class="menu-list-icon">
                <i class="fa fa-user"></i>
            </div>
            <div class="menu-list-heading" routerLink="expense">
                Logout
            </div>
        </div>
    </div>
</aside>