<aside>
    <div class="aside-menu-list">
        <div class="menu-list">
            <div class="menu-list-icon">
                <i class="fa fa-th-large" aria-hidden="true"></i>
            </div>
            <div class="menu-list-heading" routerLink="">
                Dashboard
            </div>
        </div>
        <div class="menu-list">
            <div class="menu-list-icon">
                <i class="fa fa-pie-chart" aria-hidden="true"></i>
            </div>
            <div class="menu-list-heading" routerLink="expense">
                Expense
            </div>
        </div>
        <div class="menu-list">
            <div class="menu-list-icon">
                <i class="fa fa-money" aria-hidden="true"></i>
            </div>
            <div class="menu-list-heading" routerLink="investment">
                Investment
            </div>
        </div>
 
        <div class="menu-list">
            <div class="menu-list-icon">
                <i class="fa fa-inr"></i>
            </div>
            <div class="menu-list-heading" routerLink="salary">
                Salary
            </div>
        </div>
        <div class="menu-list">
            <div class="menu-list-icon">
                <i class="fa fa-bar-chart"></i>
            </div>
            <div class="menu-list-heading" routerLink="category">
                category
            </div>
        </div>
 
        <div class="menu-list">
            <div class="menu-list-icon">
                <i class="fa fa-gift" aria-hidden="true"></i>
            </div>
            <div class="menu-list-heading" routerLink="passive">
                Passive
            </div>
        </div>
        <div class="menu-list">
            <div class="menu-list-icon">
                <i class="fa fa-user-circle-o" aria-hidden="true"></i>
            </div>
            <div class="menu-list-heading" routerLink="profile">
                User Profile
            </div>
        </div>
        <div class="menu-list">
            <div class="menu-list-icon">
                <i class="fa fa-sign-out" aria-hidden="true"></i>
            </div>
            <div class="menu-list-heading" routerLink="expense">
                Logout
            </div>
        </div>
    </div>
</aside>