aside{
    margin-top: 2vh;
    background-color: var(--color-white);
    height:87vh;
    /* margin-left:-10px;     */
    box-shadow: var(--box-shadow);
    transform: transition .1s all;
    border-radius: var(--border-radius-2);
}
.menu-list{
    display: flex;
    align-items: center;
    gap:1rem;
    padding:5px 10px;
    color:var(--color-info-dark);
}
.menu-list > .menu-list-icon{
    font-size: 1.5rem;
    width:30px;
    text-align: center;
}
.menu-list > .menu-list-heading{
    cursor: pointer;
}
.aside-menu-list .menu-list:hover{
    margin-left: 1rem;
    transition: all 300ms ease;
    color:var(--color-danger);

}
.menu-list:last-child{
    position: absolute;
    bottom:0;
}

.active{
   color:var(--color-primary);
}