<aside>
    <div class="aside-menu-list">
        <div class="menu-list active" routerLink="">
            <div class="menu-list-icon">
                <i class="fa fa-th-large" aria-hidden="true"></i>
            </div>
            <div class="menu-list-heading" >
                Dashboard
            </div>
        </div>
        <div class="menu-list" routerLink="expense">
            <div class="menu-list-icon">
                <i class="fa fa-pie-chart" aria-hidden="true"></i>
            </div>
            <div class="menu-list-heading" >
                Expense
            </div>
        </div>
        <div class="menu-list" routerLink="investment">
            <div class="menu-list-icon">
                <i class="fa fa-money" aria-hidden="true"></i>
            </div>
            <div class="menu-list-heading" >
                Investment
            </div>
        </div>
 
        <div class="menu-list" routerLink="salary">
            <div class="menu-list-icon">
                <i class="fa fa-inr"></i>
            </div>
            <div class="menu-list-heading" >
                Salary
            </div>
        </div>
        <div class="menu-list" routerLink="category">
            <div class="menu-list-icon">
                <i class="fa fa-bar-chart"></i>
            </div>
            <div class="menu-list-heading" >
                Investment category
            </div>
        </div>
 
        <div class="menu-list " routerLink="passive">
            <div class="menu-list-icon">
                <i class="fa fa-gift" aria-hidden="true"></i>
            </div>
            <div class="menu-list-heading" >
                Passive
            </div>
        </div>
        <div class="menu-list" routerLink="profile">
            <div class="menu-list-icon">
                <i class="fa fa-user-circle-o" aria-hidden="true"></i>
            </div>
            <div class="menu-list-heading" >
                User Profile
            </div>
        </div>
        <div class="menu-list" routerLink="">
            <div class="menu-list-icon">
                <i class="fa fa-headphones" aria-hidden="true"></i>
            </div>
            <div class="menu-list-heading" >
                Help and Support
            </div>
        </div>
        <div class="menu-list" routerLink="">
            <div class="menu-list-icon">
                <i class="fa fa-info-circle" aria-hidden="true"></i>
            </div>
            <div class="menu-list-heading" >
                About us
            </div>
        </div>

        <div class="menu-list"  routerLink="expense">
        
            <div class="menu-list-icon">
                <i class="fa fa-sign-out"  style='font-size:1.3rem;' aria-hidden="true"></i>
            </div>
            <div class="menu-list-heading">
                Logout
            </div>
        </div>
    </div>
</aside>