.section{
    display: flex;
    background-color: var(--color-white);
    padding:1rem;
    align-items: center;
    justify-content: space-between;
    border-radius: var(--border-radius-2);
}
.section:hover{
    box-shadow: var(--box-shadow);
}
.section-content-value{
    display: flex;
    justify-content: start;
    align-items: center;
}
.fa{
    font-size: 1rem;
}
.section-content-headings{
    color:var(--color-info-dark);
    font-size:1.4rem;
}
.section-content-value{
    font-size: 1rem;
    font-weight: bold;
    gap:2px;
}
.section-images > i{
    font-size: 2rem;
    padding:.8rem;
    border-radius: var(--border-radius-2);
    background-color: var(--color-dark);
}

.fa-credit-card-alt{
    color:var(--color-primary);
}
.fa-line-chart{
    color:var(--color-danger);
}
.fa-flip-vertical{
    color:var(--color-warning);
}

 #divChart{
    width: 400px;
    height: 400px;
    padding:1rem;
}
.analysis-section{
    background-color: var(--color-white);
    padding:10px 1rem;
    display: flex; 
    justify-content: space-around;
    margin-bottom: 1rem;
    align-items: center;
    border-radius: var(--border-radius-3);
}

.analysis-section:hover{
    box-shadow: var(--box-shadow);
}
.analysis-heading{
    margin-bottom: 1em;
}
.analysis-header{
    font-size: 1.3rem;
    font-weight: 600;
}
.analysis-content >span{
    font-size: .8rem;
}
.analysis-logo > i {
    padding:5px;
    background-color: var(--color-dark);
    align-items: center;
    border-radius: 100%;
}
.fa-shopping-cart{
    color:var(--color-primary);
}
.fa-info-circle{
    color:var(--color-danger);
}
.analysis-value > .analysis-percentage{
    font-weight: bold;
    font-size: 1rem;
    color:var(--color-danger);
}
.analysis-amount > .analysis-value{
    font-weight: bold;
    font-size: .9rem;
    color:var(--color-dark);
}
.analysis-content >span{
    color:var(--color-info-dark)
}