<br/>
<div class="row">
    <div class="col-md-3">
        <div class="section">
            <div class="section-content">
                <div class="section-content-headings">
                    Total Credit
                </div>
                <div class="section-content-value">
                    <i class="fa fa-inr" aria-hidden="true"></i>
                    <span>1,00,000</span>
                </div>
            </div>
            <div class="section-images">
                <i class="fa fa-credit-card-alt" aria-hidden="true"></i>
            </div>
        </div>
        
    </div>
    <div class="col-md-3">
        <div class="section">
            <div class="section-content">
                <div class="section-content-headings">
                    Total Debit
                </div>
                <div class="section-content-value">
                    <i class="fa fa-inr" aria-hidden="true"></i>
                    <span>80,000</span>
                </div>
            </div>
            <div class="section-images">
                <i class="fa fa-line-chart fa-flip-vertical" aria-hidden="true"></i>
            </div>
        </div>
        
    </div>
    <div class="col-md-3">
        <div class="section">
            <div class="section-content">
                <div class="section-content-headings">
                    Investment
                </div>
                <div class="section-content-value">
                    <i class="fa fa-inr" aria-hidden="true"></i>
                    <span>1,00,000</span>
                </div>
            </div>
            <div class="section-images">
                <i class="fa fa-line-chart" aria-hidden="true"></i>
            </div>
        </div>
        
    </div>
    <div class="col-md-3">
  Analysis
        
    </div>
</div>



