<br />
<div class="row">
    <div class="col-md-4">
        <div class="section">
            <div class="section-content">
                <div class="section-content-headings">
                    Total Credit
                </div>
                <div class="section-content-value">
                    <i class="fa fa-inr" aria-hidden="true"></i>
                    <span>1,00,000</span>
                </div>
            </div>
            <div class="section-images">
                <i class="fa fa-credit-card-alt" aria-hidden="true"></i>
            </div>
        </div>

    </div>
    <div class="col-md-4">
        <div class="section">
            <div class="section-content">
                <div class="section-content-headings">
                    Total Debit
                </div>
                <div class="section-content-value">
                    <i class="fa fa-inr" aria-hidden="true"></i>
                    <span>80,000</span>
                </div>
            </div>
            <div class="section-images">
                <i class="fa fa-line-chart fa-flip-vertical" aria-hidden="true"></i>
            </div>
        </div>

    </div>
    <div class="col-md-4">
        <div class="section">
            <div class="section-content">
                <div class="section-content-headings">
                    Investment
                </div>
                <div class="section-content-value">
                    <i class="fa fa-inr" aria-hidden="true"></i>
                    <span>1,00,000</span>
                </div>
            </div>
            <div class="section-images">
                <i class="fa fa-line-chart" aria-hidden="true"></i>
            </div>
        </div>

    </div>

</div>
<br />
<br />
<div class="row" >
    <div class="col-md-4">
        <div id="divChart">
            <canvas id="myChart" style="width:80%;"></canvas>
        </div>
    </div>
    <div class="col-md-4">
        <div id="divChart">
            <canvas id="perChart" style="width:80%;height:100%;"></canvas>
        </div>
    </div>
    <div class="col-md-4">
        <div class="analysis">
            <div class="analysis-heading">
                <span class="analysis-header">Recent Updates</span>
            </div>
            <div class="analysis-section">
                <div class="analysis-logo">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                </div>
                <div class="analysis-content">
                    Status of budget
                    <br /> 
                    <span>Last 30 days updates</span>
                </div>
                <div class="analysis-value">
                    <span class="analysis-percentage">+30%</span>
                </div>
                <div class="analysis-amount">
                    <span class="analysis-value">15000</span>
                </div>
            </div>
            <div class="analysis-section">
                <div class="analysis-logo">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                </div>
                <div class="analysis-content">
                    Status of budget
                    <br /> 
                    <span>Last 30 days updates</span>
                </div>
                <div class="analysis-value">
                    <span class="analysis-percentage">+30%</span>
                </div>
                <div class="analysis-amount">
                    <span class="analysis-value">15000</span>
                </div>
            </div>
            <div class="analysis-section">
                <div class="analysis-logo">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                </div>
                <div class="analysis-content">
                    Status of budget
                    <br /> 
                    <span>Last 30 days updates</span>
                </div>
                <div class="analysis-value">
                    <span class="analysis-percentage">+30%</span>
                </div>
                <div class="analysis-amount">
                    <span class="analysis-value">15000</span>
                </div>
            </div>
       
        </div>
        <div class="analysis-heading">
            <span class="analysis-header">Notification</span>
        </div>
        <div class="analysis-section">
            <div class="analysis-logo">
                <i class="fa fa-info-circle" aria-hidden="true"></i>
            </div>
            <div class="analysis-content">
               Lorem, ipsum dolor. Lorem, ipsum dolor. 
                <br /> 
                <span>Last 30 days updates</span>
            </div>
            
        </div>
    </div>
</div>